<% provide(:title, "Help") %>
<h1>Help</h1>
<p>This is a help page, where you can find help about the Memes Manager.  I don't know how it works, so I have no idea how I'm supposed to help you. :(</p>
