<div class="center jumbotron">
    <h1>Memes Manager</h1>
    <h2>
        <p>This is the home page for the Memes Manager.</p>
        <p>
            This page is not very exciting.  Start browsing
            <%= link_to "MEMES", memes_path %>
            now!
        </p>
    </h2>

    <%= link_to "Sign up now!", signup_path, :class => "btn btn-lg btn-primary" %>
</div>


<div class="meme_icon">
    <%= link_to image_tag("icon.png", :alt => "Rails logo", :height => 300, :width => 300),
    			ApplicationHelper::THE_DONALD_URL %>
</div>
