<h1>Memes Manager</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Memes Manager!  Click the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
				:email => @user.email) %>
