<% href = next_meme_path(@tag, @meme, increment) %>
<% if href %>
  <% direction = increment > 0 ? "right" : "left" %>

  <a class="arrow-holder <%= direction %>" href="<%= href %>">
    <div class="arrow arrow-<%= direction %>"></div>
    </a>
<% end %>
