<%= will_paginate memes %>

<ul id="memes_list">
	<% memes.each do |meme| %>
	  <li class="meme_thumb">
	    <%= link_to image_tag(meme.url), @tag ? show_meme_path(@tag, @tag.find_index_of_meme(meme))
	    																			: meme_path(meme) %>
	  </li>
	<% end %>
</ul>

<%= will_paginate memes %>
