<li class="tag" data-id="<%= tag.id %>">
      <%= link_to tag.name, tag_path(tag) %>
      <% if current_user.admin? %>
        <%= form_tag(untag_meme_path(@meme), :method => :delete, :remote => false) do %>
          <%= hidden_field_tag :tag_id, tag.id %>
          <%= submit_tag "×", :class => "link-button" %>
        <% end %>
      <% end %>
    </li>