<%= form_for(@meme) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => { :form_object => @meme } %>
  <%= f.label :url %>
  <%= f.text_field :url, :class => "form-control" %>
  <%= f.submit "Create meme" %>
<% end %>
