<div id="main-image">
  <%= render :partial => "memes/arrow", :locals => { :increment => -1} %>
  <%= link_to image_tag(@meme.url), @meme.url %>
  <%= render :partial => "memes/arrow", :locals => { :increment => 1} %>
</div>

<ul id="meme-tag-list">
  <li>tags:</li>
  <% @meme.tags.each do |tag| %>
    <!-- for unknown reasons, :locals won't work unless you use :partial as well -->
    <%= render :partial => "memes/tag", :locals => { :tag => tag } %>
  <% end %>

  <% if current_user.admin? %>
    <li class="tag-adder">
      <%= form_for(@new_tag, :url => tag_meme_path(@meme), :method => :patch) do |f| %>
        <%= f.text_field :name, :class => "_form-control" %>
        <%= f.submit "Add tag", :disable_with => "PLease WAIT!!!!lels" %>
      <% end %>
    </li>

    <li class="delete-meme">
      <%= form_tag(meme_path(@meme), :method => :delete) do %>
        <%= hidden_field_tag :redirect_path, meme_delete_redirect_path(@tag, @meme) %>
        <%= submit_tag "Delete", :data => { :confirm => "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
