<% if @tag %>
  var tags_list = document.querySelector(".tags");
  tags_list.innerHTML += "<%= render :partial => 'tag', :locals => { :tag => @tag } %>"
/*
  // var new_tag = document.createElement("li");
  // new_tag.setAttribute("class", "tag");
  // new_tag.setAttribute("data-id", "<%= @tag.id %>");

  // var link_to_tag = document.createElement("a");
  // link_to_tag.setAttribute("href", "<%= tag_path(@tag) %>");
  // link_to_tag.textContent = "<%= @tag.name %>";
  // new_tag.appendChild(link_to_tag);

  // var x_button = document.createElement("a");
  // x_button.setAttribute("href", "<%= untag_meme_path(@meme, @tag) %>");
  // x_button.setAttribute("data-remote", "true");
  // x_button.setAttribute("rel", "nofollow");
  // x_button.setAttribute("data-method", "delete");
  // x_button.textContent = "×";
  // new_tag.appendChild(x_button);

  // tags_list.appendChild(new_tag);
*/
  var input_box = document.querySelector("#tag_name")
  input_box.value = ""
<% else %>
  alert("Already tagged with that.");
<% end %>