<%= form_for(@user, :url => yield(:form_target)) do |f| %>
      <%= render :partial => 'shared/error_messages', :locals => { :form_object => @user } %>

      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, :class => 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, :class => 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, :class => 'form-control' %>

      <%= f.submit yield(:button_text), :class => "btn btn-primary signup-button" %>
    <% end %>
