<% provide(:title, "All users") %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= gravatar_for user, size: 50 %>
			<%= link_to user.name, user_path(user) %>
			<% if current_user.admin? && current_user != user %>
				|
				<%= link_to "delete", user_path(user), :method => :delete,
							:data => { :confirm => "You sure?" } %>
			<% end %>
		</li>
	<% end %>
</ul>

<%= will_paginate %>
