<% provide(:title, "Sign up") %>
<% provide(:button_text, "Create account") %>
<% provide(:form_target, signup_path) %>

<div class="center jumbotron">
  <h1>This page shouldn't be visible</h1>
  <p>
    This page shouldn't be publicly visible, since we don't want users to
    be able to create themselves.
  </p>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<%= render "form" %>
  </div>
</div>