<%= form_for (@tag) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => { :form_object => @tag } %>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
  <%= f.submit "Create tag" %>
<% end %>