// Place all the styles related to the Memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$arrow-size: 30px;
$error-color: #a94442;

#main-image {
  position: relative;
  img {
    max-width: 80%;
    max-height: 700px;
    margin: 30px auto;
    display: block;
  }
  .arrow-holder {
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }

    .arrow {
      height: 0;
      width: 0;
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: block;

      &.arrow-right {
        border-left: $arrow-size solid #87cefa;
      }
      &.arrow-left {
        border-right: $arrow-size solid #87cefa;
      }
    }
  }
}

#meme-tag-list {
  border: 3px solid #006fcf;
  padding: 10px 30px;
  border-radius: 12px;
  background-color: #87cefa;
  list-style: none;
  font-size: 16px;
  position: relative;

  li {
    display: inline;
    margin-right: 40px;

    &.tag {
      margin: 0 5px;
      padding: 3px 8px;
      border-radius: 5px;
      border: 1px solid #000;
      background-color: #b0e0e6;
      a:hover {
        text-decoration: none;
      }
      form {
        display: inline-block;
      }
      .link-button {
        background: none;
        border: none;
        color: #337ab7;
        cursor: pointer;
        padding: 0 0 0 2px;
        width: default;
        margin: 0;
        &:hover {
          color: #23527c;
        }
      }
      .link-button:focus {
        outline: none;
      }
      .link-button:active {
        color:red;
      }
    }
  }

  .tag-adder {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    margin-right: 120px;

    input {
      width: initial;
      margin: 0;
      box-sizing: content-box;
      &._form-control {
        border-radius: 4px;
        padding: 3px 8px;
      }
    }
    .field_with_errors {
      display: inline;
      ._form-control {
        color: $error-color;
        border-color: $error-color;
      }
    }
  }

  .delete-meme form {
    display: inline;
    input {
      width: initial;
      background: #aa2222;
      border: 1px solid #550000;
      border-radius: 5px;
      padding: 3px 10px;
      margin: 0 20px 0 0;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0,-50%);
      font-size: 14px;
      color: #aaaaaa;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
$thumbnail-margin: 5%;
#memes_list {
  list-style: none;
  padding: 0;

  li.meme_thumb {
    display: inline-block;
    width: 19%;
    padding-bottom: 19%;
    position: relative;

    a {
      position: absolute;
      top: $thumbnail-margin;
      right: $thumbnail-margin;
      left: $thumbnail-margin;
      bottom: $thumbnail-margin;
      border: 3px solid #d8d8d8;
      border-radius: 30px;
    }

    img {
      max-width: 90%;
      max-height: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      border-radius: 10px;
    }
  }
}
