<footer class="footer">
    <small>
        Memes Manager, courtesy of Alessio Magnus, disciple of Jostaphius the Sun God
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",    about_path %></li>
            <li><%= link_to "Contact",  contact_path  %></li>
            <li><%= link_to "News",     ApplicationHelper::THE_DONALD_URL %></li>
        </ul>
    </nav>
</footer>